.videoCard {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    border: 1px solid black;
}

.videoCard__player {
    object-fit: fill;
    width: 100%;
    height: 100%;
}